{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header" style="background: white;">
        <div class="card-subtitle mb-3 text-muted">
            <span class="fw-bold me-2">Статус:</span><span class="badge bg-warning text-dark">Ожидает публикации</span>
        </div>
        <div class="card-subtitle text-muted">
            <span class="fw-bold me-2">Дата:</span><span class="card-text">27.04.2023, 13:45</span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Измерение длин хобатов гавайских слонов</h5>
        <p class="card-text">Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах...</p>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex align-items-center" style="background: white;">
        <div class="card-subtitle text-muted" style="padding: 3px;">
            <span class="fw-bold me-2">Дата:</span><span class="card-text">27.04.2023, 13:45</span>
            <span class="fw-bold me-2" style="margin-left: 7px;">Статус:</span><span class="badge bg-warning text-dark">Ожидает публикации</span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Измерение длин хобатов гавайских слонов</h5>
        <p class="card-text">Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах...</p>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex align-items-center" style="background: white;">
        <div class="card-subtitle text-muted" style="padding: 3px;">
            <span class="fw-bold me-2">Дата:</span><span class="card-text">27.04.2023, 13:45</span>
            <span class="fw-bold me-2" style="margin-left: 7px;">Статус:</span><span class="badge bg-success text-dark">Опубликовано</span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Измерение длин хобатов гавайских слонов</h5>
        <p class="card-text">Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах Давно выяснено, что при оценке дизайна и композиции читаем, а также реальное распределение
            распределение распределение распределение букв и пробелов пробелов в абзацах...</p>
    </div>
</div>

{% endblock %}