<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TgSMM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="../../static/css/bootstrap-reboot.min.css">-->
    <link rel="stylesheet" href="../../static/css/app.css">
</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="row">
                <h2>Здравствуйте, <span id="username">@username!</span></h2>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="../templates/delayed_posts.html">TgSMM</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" href="../templates/delayed_posts.html">Отложенные посты</a>
                                <a class="nav-link" href="../templates/published_posts.html">Опубликованные посты</a>
                                <a class="nav-link" href="../templates/new_publication.html">Новая публикация</a>
                                <a class="nav-link" href="../templates/settings.html">Настройки</a>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="button" type="button">Выйти</button>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div id="app" v-cloak>
        <div class="posts">
            <div class="container">
                <div class="posts__list">
                    <div class="posts__post post" v-for="post in posts" :key="post.id">
                        <div class="post__id">{{post.id}}</div>
                        <div class="post__title">{{post.title}}</div>
                        <div class="post__body">{{post.body}}</div>
                    </div>
                </div>
                <div class="posts__loading" v-if="more">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/vue.global.prod.js"></script>
    <script src="../../static/js/axios.min.js"></script>
    <script src="../../static/js/app.js"></script>
</body>

</html>