{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="form">
        <form method="post" action="/settings/">
            {% csrf_token %}
            <h3 style="text-align: center;">Настройки бота</h3>
            <div class="mb-3">
                <label for="bot_token" class="form-label">Token</label>
                <input class="form-control" type="text" name="bot_token" type="text" id="bot_token" value="{{auth_token}}">
            </div>
            <div class="mb-3">
                <label for="channel_id" class="form-label">Channel ID</label>
                <input class="form-control" type="text" name="channel_id" type="number" id="channel_id" value="{{channel_id}}">
            </div>
            <div class="mb-3" style="text-align: center;">
                <button type="submit" class="btn btn-primary" id="button" style="text-align: center;">Сохранить изменения</button>
                <br>
                <h6>{{status}}</h6>
            </div>
        </form>
    </div>
</div>
{% endblock %}