@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  background: #F3F3F3;
}

#navbar {
  position: relative;
  top: 30px;
  background: white;
  filter: drop-shadow(3px 3px 3px #999);
  border-radius: 5px;
}


.menu {
  position: relative;
  top: 70px;
}

.content {
  position: relative;
  top: 170px;
}

h1 {
  font-family: "Montserrat";
  color: #333333;
}

h2 {
  font-family: "Montserrat";
  color: #333333;
}

h3 {
  font-family: "Montserrat";
  color: #333333;
}

a {
  font-family: "Montserrat", Regular;
}

#username {
  color: #40A7E3;
}

#button {
  border-radius: 70px;
  background-color: #333333;
  border: #333333;
  font-family: "Montserrat", Regular;
  font-size: 12pt;
}

.card {
  margin-bottom: 30px;
}


.form {
  background: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

[v-cloak] {
  display: none;
}


.posts {
  margin: 0 auto;
  max-width: 640px;
  padding: 64px 0;
}

.posts__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  grid-gap: 32px;
  margin-bottom: 48px;
}

.posts__title {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 48px;
  color: var(--main);
}

.posts__loading {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.post {
  position: relative;
  color: #333;
  overflow: hidden;
  transform: translateY(48px) scale(0.9);
  transition: transform 0.8s, opacity 0.8s;
  opacity: 0;
}

.post_active {
  transform: translateY(0px) scale(1);
  opacity: 1;
}

.post__id {
  font-size: 300px;
  font-weight: 900;
  position: absolute;
  right: -24px;
  bottom: -64px;
  color: var(--second);
  z-index: 0;
  line-height: 1;
}

.post__title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
  color: var(--main);
}


svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: var(--main);
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@-o-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}